<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../model/css/style.css" rel="stylesheet">
    <title>Editar Cadastro Medico</title>
</head>
<body>
    <div id="header_wrapper">
        <button class="button_sign_in">Cadastro médico</button>
    </div>
    <div id="body_wrapper">
        <div class="div_form">
            <h2>Editar médico</h2>
            <label for="name" class="label_form">Nome</label>
            <input id="name" name="name" class="input_form" placeholder="Nome">
            <label for="senha_antiga" class="label_form">Senha antiga</label>
            <input id="senha_antiga" name="senha_antiga" class="input_form" placeholder="Insira a senha antiga">
            <label for="nova_senha" class="label_form">Nova senha</label>
            <input id="nova_senha" name="nova_senha" class="input_form" placeholder="Escolha uma nova senha forte e segura">
            <button class="button_confirm">Atualizar cadastro</button>
            <a class="link_back">Voltar para a Página inicial</a>
        </div>
    </div>
</body>
</html>