<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../model/css/style.css" rel="stylesheet">
    <title>Listagem de Médicos</title>
</head>
<body>
    <div id="header_wrapper">
        <button class="button_sign_in">Cadastro médico</button>
    </div>
    <div id="body_wrapper">
        <div class="div_form">
            <h2>Adicionar horários</h2>
            <label for="name" class="label_form">Nome</label>
            <input id="name" name="name" class="input_form" placeholder="Nome">
            <label for="data_hora" class="label_form">Data e Hora</label>
            <input id="data_hora" name="data_hora" class="input_form" placeholder="exemplo@dominio.com.br">
            <button class="button_confirm">Adicionar horário</button>
            <a class="link_back">Voltar para a Página inicial</a>
        </div>
        <div class="div_form">
            <h2>Horários configurados</h2>
            <label for="name" class="label_form">Nome</label>
            <input id="name" name="name" class="input_form" placeholder="Nome">
            <label for="data_hora" class="label_form">Data e Hora</label>
            <input id="data_hora" name="data_hora" class="input_form" placeholder="exemplo@dominio.com.br">
        </div>
    </div>
</body>
</html>