:root{
    --color-light-blue: #0094CF;
    --color-dark-blue: #004768;
    --color-white: #ffffff;
    --color-grey: #EFEFEF;
    --color-background: #EFEFEF;
}

body, p, h1, h2{
    margin: 0;
    padding: 0;
    color: var(--color-dark-blue);
    font-family: 'Signika', sans-serif;
}

body{
    background-color: var(--color-background);
}

#header_wrapper{
    background: var(--color-light-blue);
    width: 100%;
    height: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
}

#body_wrapper{
    max-width: 650px;
    margin: 0 auto;
    padding: 40px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.form{
    margin: 20px 0;
}

.div_form{
    width: 300px;
    background-color: var(--color-white);
    font-size: 0.8em;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.label_form{
    width: 286px;
    padding-bottom: 3px;
    padding-top: 15px;

}

.input_form{
    border: 1px solid var(--color-grey);
    width: 280px;
    height: 20px;
    margin: 0 auto;
}

.div_doctor{
    width: 650px;
    margin: 10px auto;
    padding: 15px;
    background-color: var(--color-white);
    font-size: 0.8em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.name_title{
    width: 415px;
}

.grid_even{
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.horarios_configurados{
    width: 90%;
}

.horarios_configurados tr td{
    border-bottom: 1px solid var(--color-grey);
}

/* -------------------------------- Buttons -------------------------------- */

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.button_sign_in{
    width: 160px;
    height: 35px;
    border: none;
    border-radius: 5px;
    margin-right: 19%;
    background-color: var(--color-white);
    color: var(--color-light-blue);
}

.button_sign_in:link, :visited, :hover, :active{
    text-decoration: none;
}

.button_confirm{
    width: 170px;
    height: 35px;
    margin: 10px;
    margin-top: 35px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-light-blue);
    color: var(--color-white);
    font-weight: 700;
}

.button_confirm:link, :visited, :hover, :active{
    text-decoration: none;
}

.button_appointment{
    margin: 8px 0;
    padding: 5px 10px;
    border: 1px solid var(--color-light-blue);
    border-radius: 5px;
    background-color: var(--color-light-blue);
    color: var(--color-white);
    font-weight: 700;
    text-decoration: none;
}

.button_appointment:active, :visited{
    background-color: var(--color-white);
    color: var(--color-light-blue);
}

.button_config{
    font-size: 0.8em;
    padding: 4px 8px;
    border: 1px solid var(--color-light-blue);
    border-radius: 5px;
    background-color: var(--color-white);
    color: var(--color-light-blue);    
    text-decoration: none;
}

.link_back{
    width: 280px;
    text-align: center;
    color: var(--color-light-blue);
    font-size: 0.9em;
}

.link_remove{
    color: var(red);
}

/* -------------------------------- Responsive -------------------------------- */

@media (max-width: 750px){

    .div_doctor{
        width: 90%;
        min-width: 280px;
        margin: 10px auto;
        padding: 15px;
        font-size: 0.8em;
        justify-content: flex-end;
    }

    .grid_even{
        justify-content: space-evenly;
    }

    .name_title{
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }

    .button_sign_in{
        margin-right: 5%;
    }

    .button_config{
        margin: 5px;
    }
}